@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  /* border: 1px solid black; */
}

body {
  background: #2980b9; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin: 2em auto;
  max-width: 640px;
  padding: 1em;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
}

.container div {
  padding: 10px;
  /* border: magenta 1px solid; */
}

.addTodo {
  display: flex;
  justify-content: space-around;
}

.addTodo #taskText {
  width: 80%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  /* height: 100%; */
  /* padding: 5px; */
}

.addTodo #addTask {
  width: 15%;
}

#taskText {
  padding: 10px;
}

#taskText:focus {
  border: 3px solid orange;
}

#allTodos {
  max-height: 380px;
  overflow-y: auto;
}

p.todo {
  background-color: #f2f2f2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  /* border: 1px solid transparent; */
  margin-bottom: 1.5em;
  min-height: 4em;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

p.todo input[type="checkbox"] {
  margin: 0.5rem;
}

p.todo.done {
  text-decoration: line-through;
}

.todo-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* font-size: 1.2rem; */
}

button {
  background-color: #4070f4;
  color: white;
  padding: 1em;
  border-radius: 4px;
  outline: none;
  border: 1px solid #4070f4;
  cursor: pointer;
}
