html {
  font-size: 16px;
  font-family: "Figtree", sans-serif;
  /* line-height: 1.5; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(208, 90%, 8%);
  color: hsl(213, 95%, 22%);
}

.container {
  width: fit-content;
  max-width: 80%;
  margin: 4em auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  transition: letter-spacing 2s ease-in-out, width 2s ease-in-out,
    text-indent 2s ease-in-out, padding-left 2s ease-in-out,
    border-color 2s ease-in-out;
  border-left: 2px dashed hsl(201, 67%, 89%);
  border-right: 2px dashed hsl(201, 67%, 89%);
  /* border: 1px dashed #f9dbba; */
  padding: 1em;
}

/* p {
  border: 1px solid whitesmoke;
} */

.greeting {
  font-size: 4rem;
}

.name {
  font-size: 3.5rem;
  color: hsl(206, 59%, 64%);
}

.container:hover,
.container.animate {
  letter-spacing: 0.75em;
  text-indent: 0.75em;
  border-color: #fffed3;
  /* padding-left: 2em; */
}

.container:hover .greeting,
.greeting.animate {
  color: hsl(206, 59%, 64%);
}

.container:hover .name,
.name.animate {
  color: hsl(60, 43%, 80%);
}

@media (width <= 500px) {
  .greeting {
    font-size: 3rem;
  }

  .name {
    font-size: 2.5rem;
  }
}
