* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.container {
  max-width: 680px;
  margin: 0 auto;
  /* border: 1px solid purple; */
  padding: 0.5em;
  margin-top: 2em;
}

* {
  /* border: 1px solid orange; */
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.col-bg {
  background: orangered;
  color: white;
}

.col-1 {
  width: 25%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .col-1,
  .col-2,
  .col-3 {
    width: 100%;
  }
}
